
body{
    background-color: rgb(7, 7, 33);
}

.navhover p{
   /* background: rgba(250, 185, 19, 1); */
   cursor: pointer;

}

.features{
   font-size: 60px;
}

.more{
   /* margin-top: 200px; */
}

.backgroundsection {
  background-image: url(/assets/bg.png);
  background-size: cover; 
  background-position: center; 
  
  width: 100%;
  height: 100vh; 
  
  padding: 60px; 
  color: white; 
}

.designer{

   justify-content: start;
   align-items: start;
   padding: 40px;
   width: 98.2%;
   margin-left: 10px;

   background: rgba(29, 47, 82, 1);
   border-radius: 0 0 40px 40px;
}





.background1{
   
    background-image: url(/assets/Kitmens\ Digital\ Oven.png);
    
    width: 100%;
    height: 325px;
    position: relative;
    background-size: cover;
    top: 80px;
    margin: 10px 0px;
    border-radius: 40px;
 
 
 }

 .img1{
   width: 300px;
 }

 .maincontent1{
    position: relative;
    bottom: 150px;
    /* width: 400px; */
    
 }

 .maincontent2{
   /* position: relative;
   bottom: 150px; */
   /* width: 400px; */
}
 
 .background2{
    background-image: url(/assets/Kitmens\ Digital\ Oven\ \(1\).png);
   
    margin: 10px 0px;
    width: 100% ;
    height: 325px;
    position: relative;
    background-size: cover;
    /* top: 105px; */
    border-radius: 40px;
 
 
 }

 .footer{
   margin-top: 100px;
 }

 @media screen and (max-width:450px) {
   .hamburger{
      background-color: red;
      color: rgb(255, 255, 255);
      width: 40px;
   }
      .primeseriesimg{
       width: 230px;
       }
       .standmixer{
         font-size: 20px;
       }
       .myprimeseries{
         width: 250px;
       }
       .more{
         position: relative;
         top: 200px;
       }

       .backgroundsection {
         margin-bottom: 300px;
       }
       .features{
         font-size: 32px;
       }
   .designer{
     display: flex;
      /* justify-content: center; */
      /* align-items: center; */
      /* padding:5px; */
      /* height: 450px; */
      /* position: relative;
      right: 500px; */


      background: rgba(29, 47, 82, 1);
      border-radius: 0 0 100px 40px;
   }
   .designerbg{
      position: relative;
      right: 100px;
   }
   .designer h3{
      font-size: 16px;
      /* margin-bottom: 20px; */
   }


   .designer p{
      font-size: 10px;
   }
   .myfeatures{
      /* margin-bottom: 300px; */
      position: relative;
      bottom: 70px;
   }
   

   .sect2{

      margin-top: 150px;
   }
   .whatwe{
      font-size: 22px;
   }

   .whattheysaid{
      font-size: 22px;
      text-wrap: nowrap;
   }

 

   .secimg{
      width: 400px;
   }
.horseimg{
   width: 100px;
}

   
 }

 @media screen and (min-width:451px )  and  (max-width:768px) {

   .hamburger{
      background-color: red;
      color: rgb(255, 255, 255);
      width: 40px;
   }
   .designer{

      justify-content: start;
      align-items: start;
      padding:40px;
      height: 200px;
      width: 445px;
      position: relative;
      right: 10px;
      background: rgba(29, 47, 82, 1);
      border-radius: 0 0 40px 40px;
      
   }
   .designertxt{
     position: relative;
     bottom: 20px;
     font-size: 20px;
   }
   .inspiration{
      position: relative;
     bottom: 20px;
     font-size: 15px;
   }
   .more{
      position: relative;

      bottom: 100px;
      /* margin-bottom: 200px; */
   }
   .lionimg{
      margin-top: 100px;
   }
   .features{
      font-size: 40px;
   }



   .sect2{

      margin-top: 150px;
   }


 

   .secimg{
      width: 600px;
   }


   
 }

 @media  (min-width:992px)  and  (max-width:1024px) {

   
   .designer{

      justify-content: start;
      align-items: start;
      padding:40px;
      height: 200px;
      background: rgba(29, 47, 82, 1);
      border-radius: 0 0 40px 40px;
      max-width: 600px;
   }



   .sect2{

      margin-top: 150px;
   }
    .background2 {
   position: relative;
   bottom: 150px;
  
          }

 

   .secimg{
      width: 400px;
   }


   
 }
 /* @media (min-width:1025px) and (max-width:1400px) {
   .designer{

      justify-content: start;
      align-items: start;
      padding:40px;
      height: 200px;

      background: rgba(29, 47, 82, 1);
      border-radius: 0 0 40px 40px;
      width: 1045px;
      position: relative;
      right: 10px;
   }

   
 } */
 

 
